.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1672px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 263px;
	margin-left: auto;
	margin-right: auto;
}

#u385
{
	z-index: 2;
	width: 1160px;
	padding-bottom: 332px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -100px;
}

#u385_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#menuu264
{
	z-index: 3;
	width: 648px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 251px;
}

#u265
{
	width: 160px;
	min-height: 35px;
	margin-right: -10000px;
}

#u268
{
	width: 160px;
	padding-bottom: 13px;
}

#u272
{
	width: 160px;
	min-height: 35px;
	margin-right: -10000px;
	left: 162px;
}

#u273
{
	width: 160px;
	padding-bottom: 13px;
}

#u269-4,#u275-4
{
	width: 160px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u306
{
	width: 161px;
	min-height: 35px;
	margin-right: -10000px;
	left: 324px;
}

#u309
{
	width: 161px;
	padding-bottom: 13px;
}

#u373
{
	width: 161px;
	min-height: 35px;
	margin-right: -10000px;
	left: 487px;
}

#u376
{
	width: 161px;
	padding-bottom: 13px;
}

#u312-4,#u379-4
{
	width: 161px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#pu446
{
	width: 0.01px;
	padding-bottom: 103px;
	position: relative;
	margin-right: -10000px;
	margin-top: 218px;
	left: -100px;
}

#u446
{
	z-index: 28;
	width: 1160px;
	height: 103px;
	top: 218px;
	left: -100px;
}

#menuu726
{
	z-index: 29;
	width: 920px;
	top: 251px;
	left: 20px;
}

#u755
{
	width: 228px;
	min-height: 35px;
	margin-right: -10000px;
}

#u756
{
	width: 228px;
	padding-bottom: 13px;
}

#u748
{
	width: 228px;
	min-height: 35px;
	margin-right: -10000px;
	left: 230px;
}

#u749
{
	width: 228px;
	padding-bottom: 13px;
}

#u759-4,#u751-4
{
	width: 228px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u762
{
	width: 229px;
	min-height: 35px;
	margin-right: -10000px;
	left: 460px;
}

#u763
{
	width: 229px;
	padding-bottom: 13px;
}

#u727
{
	width: 229px;
	min-height: 35px;
	margin-right: -10000px;
	left: 691px;
}

#u728
{
	width: 229px;
	padding-bottom: 13px;
}

#u268.MuseMenuActive,#u273.MuseMenuActive,#u309.MuseMenuActive,#u376.MuseMenuActive,#u756.MuseMenuActive,#u749.MuseMenuActive,#u763.MuseMenuActive,#u728.MuseMenuActive
{
	margin: 0px;
}

#u765-4,#u729-4
{
	width: 229px;
	min-height: 22px;
	margin-right: -10000px;
	top: 6px;
}

#u769
{
	z-index: 54;
	width: 261px;
	height: 260px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1410px;
	left: 51px;
	background: #FFFFFF url("../images/11760248_10206080885414407_212062153555458093_n-u769-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u777
{
	z-index: 55;
	width: 261px;
	height: 260px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1410px;
	left: 349px;
	background: #FFFFFF url("../images/11888118_10206373132120392_7915036497694815517_n-u777-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u778
{
	z-index: 56;
	width: 261px;
	height: 260px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1410px;
	left: 647px;
	background: #FFFFFF url("../images/11263122_10205649012297849_7709566929341026533_n-u778-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1409px;
}

